.project-source-1 .icon {
  transform: rotate(-45deg);
  width: 16.7px;
  height: 16.7px;
}
.project-source-1 .link-angled {
  margin: 1.7px 17.7px 2.7px 0;
  display: flex;
  width: 16.7px;
  height: 16.7px;
  box-sizing: border-box;
}
.project-source-1 .project-source-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.9px;
  color: #FFFFFF;
}
.project-source-1 .group-59 {
  display: flex;
  flex-grow: 1;
  flex-basis: 105.2px;
  box-sizing: border-box;
}
.project-source {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
