.connection-info {
  width: 182px;
  height: 179px;
}

.connection-info .overlap-group {
  position: relative;
  width: 184px;
  height: 179px;
}

.connection-info .rectangle {
  position: absolute;
  width: 180px;
  height: 179px;
  top: 0;
  left: 0;
  border-radius: 30.82px;
  border: 0.77px solid;
  border-color: transparent;
  box-shadow: 0px 3.08px 25.43px #00000040;
  border-image: linear-gradient(to bottom, rgb(124, 113, 255), rgba(0, 0, 0, 0)) 1;
  background: linear-gradient(180deg, rgb(72.48, 62.57, 189.13) 0%, rgba(46, 46, 72, 0) 100%);
}

.connection-info .group {
  width: 122px;
  top: 24px;
  left: 15px;
  position: absolute;
  height: 21px;
}

.connection-info .text-wrapper {
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.connection-info .div-wrapper {
  width: 105px;
  top: 65px;
  left: 79px;
  position: absolute;
  height: 21px;
}

.connection-info .div {
  position: absolute;
  width: 103px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.connection-info .group-2 {
  width: 105px;
  top: 101px;
  left: 79px;
  position: absolute;
  height: 21px;
}

.connection-info .group-3 {
  width: 105px;
  top: 137px;
  left: 79px;
  position: absolute;
  height: 21px;
}

.connection-info .social-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 64px;
  left: 31px;
}

.connection-info .img {
  top: 101px;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 31px;
}

.connection-info .social-icon-2 {
  top: 137px;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 31px;
}
