.sidebar {
  position: relative;
  width: 234px;
  height: 960px;
  background-color: #2e2e48;
  border-radius: 0px 30.82px 30.82px 0px;
  overflow: hidden;
}

.sidebar .profile {
  position: absolute;
  width: 177px;
  height: 28px;
  top: 37px;
  left: 31px;
}

.sidebar .watermark {
  position: absolute;
  width: 144px;
  top: 0;
  left: 31px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 18.5px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .watermark-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 3px;
  left: 0;
}

.sidebar .watermark-icon-group {
  position: relative;
  height: 22px;
}

.sidebar .watermark-icon-1 {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 0;
  left: 0;
  border-radius: 10.76px/10.59px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(137.11, 126.86, 255) 0%, rgb(82.37, 67.36, 255) 100%);
}

.sidebar .watermark-icon-2 {
  position: absolute;
  width: 8px;
  height: 9px;
  top: 14px;
  left: 13px;
  border-radius: 4.25px/4.41px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(239.06, 6.38, 6.38) 22.19%, rgb(176.37, 1.03, 1.03) 100%);
}

.sidebar .creator-info {
  position: absolute;
  width: 124px;
  height: 57px;
  top: 248px;
  left: 59px;
}

.sidebar .creator-name {
  position: absolute;
  width: 100px;
  top: 0;
  left: 2px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .creator-title {
  position: absolute;
  width: 120px;
  top: 41px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff66;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage-text,
.stack-text,
.education-text,
.geography-text {
  transition: color 0.3s ease;
  color: #ffffff;
}

/* add hover feature */
.homepage-text:hover,
.stack-text:hover,
.education-text:hover,
.geography-text:hover {
  color: #FFA726 !important;
  cursor: pointer !important;
}

.sidebar .home-component {
  position: absolute;
  width: 154px;
  height: 45px;
  top: 350px;
  left: 1px;
}

.sidebar .selection-home {
  position: absolute;
  width: 110px;
  height: 24px;
  top: 12px;
  left: 46px;
}

.sidebar .homepage-text {
  position: absolute;
  top: 0;
  left: 59px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .selection-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

/* .sidebar .selected-rectangle {
  position: absolute;
  width: 7px;
  height: 45px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(126, 115, 255) 0%, rgb(91, 77, 255) 100%);
} */

.sidebar .stack-component {
  width: 108px;
  height: 25px;
  top: 418px;
  position: absolute;
  left: 47px;
}

.sidebar .selection-stack {
  position: absolute;
  width: 51px;
  height: 21px;
  top: 0;
  left: 59px;
}

.sidebar .stack-text {
  position: absolute;
  width: 49px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .geography-component {
  width: 145px;
  height: 24px;
  top: 554px;
  position: absolute;
  left: 47px;
}

.sidebar .selection-geography {
  position: absolute;
  width: 94px;
  height: 21px;
  top: 0;
  left: 56px;
}

.sidebar .geography-text {
  position: absolute;
  width: 92px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .education-component {
  width: 146px;
  height: 25px;
  top: 486px;
  position: absolute;
  left: 47px;
}

.sidebar .selection-education {
  position: absolute;
  width: 92px;
  height: 21px;
  top: 0;
  left: 56px;
}

.sidebar .education-text {
  position: absolute;
  width: 90px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .connection-info {
  position: absolute;
  width: 182px;
  height: 179px;
  top: 667px;
  left: 24px;
}

.sidebar .connection-info-group {
  position: relative;
  width: 184px;
  height: 179px;
}

.sidebar .connection-info-shape {
  position: absolute;
  width: 180px;
  height: 179px;
  top: 0;
  left: 0;
  border-radius: 30.82px;
  background: linear-gradient(180deg, rgb(72.48, 62.57, 189.13) 0%, rgba(46, 46, 72, 0) 100%);
  box-shadow: 0px 3.08px 25.43px rgba(0, 0, 0, 0.25), 0 0 0 0.77px linear-gradient(to bottom, rgb(124, 113, 255), rgba(0, 0, 0, 0));
  border: none;
}

.sidebar .connection-info-title {
  position: absolute;
  width: 122px;
  height: 21px;
  top: 24px;
  left: 15px;
}

.sidebar .connection-info-title-text {
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .github {
  position: absolute;
  width: 105px;
  height: 21px;
  top: 65px;
  left: 79px;
}

.sidebar .connection-info-content {
  position: absolute;
  width: 103px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .linkedin {
  position: absolute;
  width: 105px;
  height: 21px;
  top: 101px;
  left: 79px;
}

.sidebar .email {
  position: absolute;
  width: 105px;
  height: 21px;
  top: 137px;
  left: 79px;
}

.sidebar .github-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 64px;
  left: 31px;
}

.sidebar .linkedin-icon {
  top: 101px;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 31px;
}

.sidebar .email-icon {
  top: 137px;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 31px;
}

.sidebar .project-source {
  position: absolute;
  width: 146px;
  height: 21px;
  top: 911px;
  left: 31px;
}

.sidebar .project-source-group {
  position: absolute;
  width: 112px;
  height: 21px;
  top: 0;
  left: 36px;
}

.sidebar .project-source-text {
  position: absolute;
  width: 110px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.sidebar .link-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.sidebar .profile-pic {
  position: absolute;
  width: 126px;
  height: 130px;
  top: 107px;
  left: 47px;
}

.sidebar .profile-pic-shape {
  position: absolute;
  width: 126px;
  height: 130px;
  top: 0;
  left: 0;
}

.sidebar .profile-ellipse-1 {
  position: absolute;
  width: 131px;
  height: 140px;
  top: -5px;
  left: 0;
}

.sidebar .profile_img {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 3px;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  z-index: 1;
}

.sidebar .profile-ellipse-2 {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 590px;
  left: 766px;
}

/* page-content CSS */
.page-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: calc(100% - 234px);
  padding: 20px;
  overflow-y: auto;
}

.page-content .div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
}

.page .overlap {
  position: absolute;
  width: 1136px;
  height: 836px;
  top: 55px;
  left: 264px;
}

.page .overlap-group {
  position: absolute;
  width: 1120px;
  height: 836px;
  top: 0;
  left: 16px;
}

Copy code .page .separator,
.page .img,
.page .separator-2,
.page .line,
.page .line-2,
.page .line-3,
.page .line-4,
.page .line-5 {
  border: none;
  background-color: #C8CBD9;
  height: 0;
  border-top: 1px solid #C8CBD9;
}

.page .separator {
  height: 836px;
  position: absolute;
  top: 0;
  left: 718px;
  border-left: 1px solid #C8CBD9;
  border-top: none;
}

.page .img {
  width: 1120px;
  position: absolute;
  top: 461px;
  left: 0;
  border-top: 1px solid #C8CBD9;
}

.page .separator-2 {
  width: 1px;
  height: 362px;
  position: absolute;
  top: 474px;
  left: 375px;
  border-left: 1px solid #C8CBD9;
  border-top: none;
}

.page .line {
  width: 334px;
  position: absolute;
  top: 620px;
  left: 385px;
  border-top: 1px solid #C8CBD9;
}

.page .line-2 {
  width: 334px;
  position: absolute;
  top: 665px;
  left: 385px;
  border-top: 1px solid #C8CBD9;
}

.page .line-3 {
  width: 334px;
  position: absolute;
  top: 710px;
  left: 385px;
  border-top: 1px solid #C8CBD9;
}

.page .line-4 {
  width: 334px;
  position: absolute;
  top: 755px;
  left: 385px;
  border-top: 1px solid #C8CBD9;
}

.page .line-5 {
  width: 334px;
  position: absolute;
  top: 800px;
  left: 385px;
  border-top: 1px solid #C8CBD9;
}

.page .text-wrapper-5 {
  top: 642px;
  /* Align with group */
  position: absolute;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-6 {
  top: 687px;
  /* Align with group-2 */
  position: absolute;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-7 {
  top: 732px;
  /* Align with group-3 */
  position: absolute;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-8 {
  top: 777px;
  /* Align with group-4 */
  position: absolute;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-9 {
  top: 822px;
  /* Align with group-5 */
  position: absolute;
  left: 399px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .group {
  top: 642px;
  /* Between line and line-2 */
  background-color: rgba(255, 167, 38, 0.12);
  border-color: #ffa726;
  position: absolute;
  width: 38px;
  height: 22px;
  left: 665px;
  border-radius: 4px;
  border: 0.5px solid #ffa726;
}

.page .company_name {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #87888c;
  position: relative;
  top: 650px;
  left: 457px;
  transform: translateY(-50%);
}

.page .company-openings {
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color: #ffa726;
  position: relative;
  top: 10.5px;
  transform: translateY(-50%);
}

.page .group-2 {
  top: 687px;
  /* Between line-2 and line-3 */
  background-color: rgba(129, 212, 250, 0.12);
  border-color: #81d4fa;
  position: absolute;
  width: 38px;
  height: 22px;
  left: 665px;
  border-radius: 4px;
  border: 0.5px solid #81d4fa;
}

.page .company_name-2 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #87888c;
  position: relative;
  top: 683px;
  left: 457px;
  transform: translateY(-50%);
}

.page .company-openings-2 {
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color: #81d4fa;
  position: relative;
  top: 10.5px;
  transform: translateY(-50%);
}

.page .group-3 {
  top: 732px;
  /* Between line-3 and line-4 */
  background-color: rgba(206, 147, 216, 0.12);
  border-color: #ce93d8;
  position: absolute;
  width: 38px;
  height: 22px;
  left: 665px;
  border-radius: 4px;
  border: 0.5px solid #ce93d8;
}

.page .company_name-3 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #87888c;
  position: relative;
  top: 716px;
  left: 457px;
  transform: translateY(-50%);
}

.page .company-openings-3 {
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color: #ce93d8;
  position: relative;
  top: 10.5px;
  transform: translateY(-50%);
}

.page .group-4 {
  top: 777px;
  /* Between line-4 and line-5 */
  background-color: rgba(120, 144, 156, 0.12);
  border-color: #78909c;
  position: absolute;
  width: 38px;
  height: 22px;
  left: 665px;
  border-radius: 4px;
  border: 0.5px solid #78909c;
}

.page .company_name-4 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #87888c;
  position: relative;
  top: 750px;
  left: 457px;
  transform: translateY(-50%);
}

.page .company-openings-4 {
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color: #78909c;
  position: relative;
  top: 10.5px;
  transform: translateY(-50%);
}

.page .group-5 {
  top: 822px;
  /* Below line-5 */
  background-color: rgba(120, 144, 156, 0.12);
  border-color: #78909c;
  position: absolute;
  width: 38px;
  height: 22px;
  left: 665px;
  border-radius: 4px;
  border: 0.5px solid #78909c;
}

.page .company_name-5 {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #87888c;
  position: relative;
  top: 781px;
  left: 457px;
  transform: translateY(-50%);
}

.page .company-openings-5 {
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color: #78909c;
  position: relative;
  top: 10.5px;
  transform: translateY(-50%);
}

.page .order-stats {
  width: 140px;
  top: 498px;
  left: 774px;
  position: absolute;
  height: 22px;
}

.page .title-data {
  top: 0;
  left: 0;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.page .most-ordered {
  position: absolute;
  width: 316px;
  height: 96px;
  top: 502px;
  left: 413px;
}

.page .desc {
  top: 30px;
  position: absolute;
  width: 312px;
  left: 0;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.page .rating {
  position: absolute;
  width: 317px;
  height: 328px;
  top: 507px;
  left: 16px;
}

.page .overlap-2 {
  position: absolute;
  width: 304px;
  height: 241px;
  top: 87px;
  left: 9px;
}

.page .overlap-3 {
  position: absolute;
  width: 255px;
  height: 199px;
  top: 0;
  left: 49px;
}

.page .chart {
  position: absolute;
  width: 174px;
  height: 179px;
  top: 20px;
  left: 81px;
}

.page .overlap-group-2 {
  position: relative;
  width: 175px;
  height: 181px;
  top: -1px;
}

.page .ellipse {
  position: absolute;
  width: 169px;
  height: 169px;
  top: 6px;
  left: 0;
  background-color: #ffa726;
  border-radius: 84.36px;
  opacity: 0.9;
}

.page .ellipse-2 {
  position: absolute;
  width: 170px;
  height: 181px;
  top: 0;
  left: 5px;
}

.page .overlap-wrapper {
  position: absolute;
  width: 107px;
  height: 110px;
  top: 0;
  left: 0;
}

.page .overlap-4 {
  position: relative;
  width: 108px;
  height: 112px;
  top: -1px;
}

.page .ellipse-3 {
  width: 104px;
  height: 104px;
  top: 4px;
  background-color: #ce93d8;
  border-radius: 51.88px;
  opacity: 0.8;
  position: absolute;
  left: 0;
}

.page .ellipse-4 {
  width: 105px;
  height: 112px;
  left: 3px;
  position: absolute;
  top: 0;
}

.page .overlap-group-wrapper {
  position: absolute;
  width: 126px;
  height: 130px;
  top: 111px;
  left: 0;
}

.page .overlap-5 {
  position: relative;
  width: 127px;
  height: 132px;
  top: -1px;
}

.page .ellipse-5 {
  width: 122px;
  height: 122px;
  top: 5px;
  background-color: #81d4fa;
  border-radius: 61.18px;
  opacity: 0.9;
  position: absolute;
  left: 0;
}

.page .ellipse-6 {
  width: 123px;
  height: 132px;
  left: 4px;
  position: absolute;
  top: 0;
}

.page .text-wrapper {
  top: 29px;
  position: absolute;
  width: 312px;
  left: 0;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.page .order-time {
  width: 74px;
  top: 41px;
  left: 772px;
  position: absolute;
  height: 22px;
}

.page .overlap-6 {
  position: absolute;
  width: 659px;
  height: 131px;
  top: 41px;
  left: 0;
}

.page .revenue {
  position: absolute;
  width: 659px;
  height: 131px;
  top: 0;
  left: 0;
}

.page .percentage-info {
  position: absolute;
  width: 84px;
  height: 12px;
  top: 68px;
  left: 16px;
}

.page .element-vs-last-days {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #737b8b;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 12px;
  white-space: nowrap;
  margin-left: -16px;
}

.page .change-icon {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px;
  font-weight: bold;
}

.page .div-wrapper {
  width: 80px;
  left: 390px;
  position: absolute;
  height: 12px;
  top: 68px;
}

.page .percentage-info-2 {
  width: 84px;
  left: 567px;
  position: absolute;
  height: 12px;
  top: 68px;
}

.page .title-data-2 {
  left: 186px;
  position: absolute;
  top: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  white-space: nowrap;
}

.page .element-vs-last-days-wrapper {
  width: 80px;
  left: 202px;
  position: absolute;
  height: 12px;
  top: 68px;
}

.page .title-data-3 {
  left: 374px;
  position: absolute;
  top: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  white-space: nowrap;
}

.page .title-data-4 {
  left: 552px;
  position: absolute;
  top: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  white-space: nowrap;
}

.page .sales-info {
  position: absolute;
  top: 110px;
  left: 1px;
  opacity: 0.5;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 21px;
  white-space: nowrap;
}

.page .iconly-bold-profile {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 31px;
  left: 2px;
}

.page .total-openings-value {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 34px;
  /* Adjust this value to move the element down */
  left: 50px;
  /* Adjust this value to move the element to the right */
}

.page .new-openings-value {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 34px;
  /* Adjust this value to move the element down */
  left: 233px;
  /* Adjust this value to move the element to the right */
}

.page .fill-rate-value {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  width: auto;
  /* Adjust to auto to fit content */
  height: auto;
  /* Adjust to auto to fit content */
  top: 34px;
  /* Adjust this value to move the element down */
  left: 374px;
  /* Adjust this value to move the element to the right */
  white-space: nowrap;
  /* Prevent line break */
}

.page .attf-value {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  width: auto;
  /* Adjust to auto to fit content */
  height: auto;
  /* Adjust to auto to fit content */
  top: 34px;
  /* Adjust this value to move the element down */
  left: 550px;
  /* Adjust this value to move the element to the right */
  white-space: nowrap;
  /* Prevent line break */
}

.page .iconly-bold-profile-2 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 31px;
  left: 180px;
}

.page .text-wrapper-2 {
  position: absolute;
  top: 606px;
  left: 456px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-3 {
  position: absolute;
  top: 606px;
  left: 649px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-4 {
  position: absolute;
  top: 606px;
  left: 403px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #87888c;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.page .title-page {
  top: 31px;
  left: 258px;
  font-weight: 500;
  color: #1f384c;
  font-size: 35px;
  line-height: 23px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.data-role-pie-chart {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.historical-total-openings-line-chart {
  width: 100%;
  height: auto;
  margin-top: 27px;
  margin-left: -50px;
}

.page .ellipse-text-1 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 65px;
  transform: translateY(-50%);
}

.page .ellipse-pt-1 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page .ellipse-text-2 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 47px;
  transform: translateY(-50%);
}

.page .ellipse-pt-2 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page .ellipse-text-3 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 45px;
  transform: translateY(-50%);
}

.page .ellipse-pt-3 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page .openings-map {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: -25px;
}