.connection-info-2 .about-author {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}
.connection-info-2 .group-55 {
  margin-bottom: 17.2px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.connection-info-2 .icon {
  width: 22px;
  height: 21.5px;
}
.connection-info-2 .social-icon-2 {
  margin-bottom: 0.3px;
  display: flex;
  width: 22px;
  height: 21.5px;
  box-sizing: border-box;
}
.connection-info-2 .github {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.9px;
  color: #FFFFFF;
}
.connection-info-2 .group-56 {
  margin-top: 0.8px;
  display: flex;
  box-sizing: border-box;
}
.connection-info-2 .container {
  margin: 0 23.1px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95.2px;
  box-sizing: border-box;
}
.connection-info-2 .vector {
  width: 22px;
  height: 22px;
}
.connection-info-2 .social-icon {
  margin-top: 0.2px;
  display: flex;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
}
.connection-info-2 .linkedin {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.9px;
  color: #FFFFFF;
}
.connection-info-2 .group-57 {
  margin-bottom: 1.2px;
  display: flex;
  box-sizing: border-box;
}
.connection-info-2 .container-2 {
  margin: 0 9.1px 13.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 109.2px;
  box-sizing: border-box;
}
.connection-info-2 .union {
  width: 21.6px;
  height: 22px;
}
.connection-info-2 .social-icon-1 {
  margin-top: 0.2px;
  display: flex;
  width: 21.6px;
  height: 22px;
  box-sizing: border-box;
}
.connection-info-2 .email {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.9px;
  color: #FFFFFF;
}
.connection-info-2 .group-58 {
  margin-bottom: 1.2px;
  display: flex;
  box-sizing: border-box;
}
.connection-info-2 .container-1 {
  margin-right: 30.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87.6px;
  box-sizing: border-box;
}
.connection-info {
  box-shadow: 0px 3.1px 25.4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30.8px;
  border: 0.8px solid #7C71FF;
  background: linear-gradient(50.04deg, #483FBD 97.9%, rgba(46, 46, 72, 0) 202.6%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23.8px 15px 19.8px 15px;
  box-sizing: border-box;
}
