.frame-1364 .group-1 {
  margin: 3.1px 9px 3.6px 0;
  width: 21.5px;
  height: 22.3px;
}
.frame-1364 .midnight-guy {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 18.5px;
  color: #FFFFFF;
}
.frame-1364 .group-2 {
  margin: 0 30px 41px 30px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1364 .chart-5 {
  margin: 0 200.8px 11px 0;
  width: 126.2px;
  height: 130px;
}
.frame-1364 .isaac-lee {
  margin: 0 3.8px 11px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.frame-1364 .data-engineer {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.frame-1364 .group-54 {
  margin: 0 202.9px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1364 .rectangle-7 {
  background: linear-gradient(180deg, #7E73FF, #5B4DFF);
  margin-right: 42.1px;
  width: 6.9px;
  height: 45.5px;
}
.frame-1364 .vector {
  width: 18px;
  height: 18px;
}
.frame-1364 .dashboard-black-24-dp-11 {
  margin: 2.8px 0 3.2px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.frame-1364 .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.frame-1364 .group-52 {
  margin: 12px 0 9.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 104.3px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1364 .group-56 {
  margin-bottom: 22.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 153.3px;
  box-sizing: border-box;
}
.frame-1364 .vector-1 {
  width: 20px;
  height: 16px;
}
.frame-1364 .code-slash {
  margin: 5px 0 3px 0;
  display: flex;
  width: 20px;
  height: 16px;
  box-sizing: border-box;
}
.frame-1364 .stack {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.frame-1364 .group-51 {
  display: flex;
  box-sizing: border-box;
}
.frame-1364 .component-1 {
  margin: 0 220.2px 44px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 102.8px;
  box-sizing: border-box;
}
.frame-1364 .icon-1 {
  width: 19.2px;
  height: 16.5px;
}
.frame-1364 .book-02 {
  background: rgba(255, 255, 255, 0.02);
  margin-top: 1px;
  display: flex;
  padding: 3.8px 2.4px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.frame-1364 .education {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.frame-1364 .group-50 {
  margin-bottom: 1px;
  display: flex;
  box-sizing: border-box;
}
.frame-1364 .component-2 {
  margin-bottom: 38.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.9px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1364 .rectangle-11 {
  box-shadow: 0px 3.1px 28.5px 0px rgba(0, 0, 0, 0.11);
  border-radius: 10.8px;
  background: #2E2E48;
  margin-top: 11.8px;
  width: 118.7px;
  height: 51.6px;
}
.frame-1364 .container-1 {
  margin-bottom: 4.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 373px;
  box-sizing: border-box;
}
.frame-1364 .icon {
  width: 18px;
  height: 16px;
}
.frame-1364 .map-03 {
  margin: 4px 0;
  display: flex;
  width: 18px;
  height: 16px;
  box-sizing: border-box;
}
.frame-1364 .geography {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.frame-1364 .group-49 {
  display: flex;
  box-sizing: border-box;
}
.frame-1364 .component-3 {
  margin-right: 176.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 144.6px;
  box-sizing: border-box;
}
.frame-1364 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 419px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1364 .s-2308096061 {
  background: url('../assets/images/s_2308096061.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -95px;
  top: -128px;
  width: 277px;
  height: 370px;
}
.frame-1364 .container {
  opacity: 0.9;
  border-radius: 61.2px;
  position: absolute;
  left: 47px;
  top: 110px;
  width: 122.4px;
  height: 122.4px;
}
.frame-1364 {
  box-shadow: 10.3px 11.5px 72.4px 0px rgba(0, 0, 0, 0.24);
  border-radius: 0 30.8px 30.8px 0;
  background: #2E2E48;
  display: flex;
  padding: 37px 0 0 1px;
  box-sizing: border-box;
}
