.page-1 .title-page {
  margin-right: 957.1px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 0.5px;
  line-height: 0.657;
  color: #1F384C;
}
.page-1 .title-data-4 {
  margin-right: 11px;
  width: 175px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .title-data-5 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .title-data-6 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .title-data-7 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .icon {
  width: 12px;
  height: 11.3px;
}
.page-1 .information-circle-contained {
  margin: 2.9px 0 7.8px 0;
  display: flex;
  width: 12px;
  height: 11.3px;
  box-sizing: border-box;
}
.page-1 .container-2 {
  margin: 0 42px 6px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 687px;
  box-sizing: border-box;
}
.page-1 .profile {
  width: 18px;
  height: 22.5px;
}
.page-1 .iconly-bold-profile {
  margin: 1.3px 27.5px 4.3px 0;
  display: flex;
  width: 18px;
  height: 22.5px;
  box-sizing: border-box;
}
.page-1 .amount {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
}
.page-1 .container-12 {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .profile-1 {
  width: 18px;
  height: 22.5px;
}
.page-1 .iconly-bold-profile-1 {
  margin: 5.3px 0 4.3px 0;
  display: flex;
  width: 18px;
  height: 22.5px;
  box-sizing: border-box;
}
.page-1 .amount-1 {
  margin: 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
}
.page-1 .amount-2 {
  margin-top: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
}
.page-1 .amount-3 {
  margin: 0 0px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
}
.page-1 .container-9 {
  margin: 0 59px 8px 8.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 663.5px;
  box-sizing: border-box;
}
.page-1 .arrow-up {
  margin: 0 8.9px 6px 0;
  width: 7.1px;
  height: 10px;
}
.page-1 .vs-last-7-days {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #32D16D;
}
.vs-last-7-days-sub20 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #F2383A;
}
.vs-last-7-days {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #737B8B;
}
.page-1 .percentage-info {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .arrow-up-1 {
  margin: 0 8.9px 6px 0;
  width: 7.1px;
  height: 10px;
}
.vs-last-7-days-1 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #737B8B;
}
.page-1 .vs-last-7-days-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #32D16D;
}
.vs-last-7-days-1-sub18 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #F2383A;
}
.page-1 .percentage-info-1 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .arrow-up-2 {
  margin: 0 8.9px 6px 0;
  width: 7.1px;
  height: 10px;
}
.page-1 .vs-last-7-days-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #32D16D;
}
.vs-last-7-days-2-sub18 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #F2383A;
}
.vs-last-7-days-2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #737B8B;
}
.page-1 .percentage-info-2 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .arrow-up-3 {
  transform: rotate(179.311deg);
  margin: 0 8.8px 6px 0;
  width: 7.2px;
  height: 10.1px;
}
.page-1 .vs-last-7-days-3 {
  margin-top: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #32D16D;
}
.vs-last-7-days-3-sub17 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #149D52;
}
.vs-last-7-days-3 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.333;
  color: #737B8B;
}
.page-1 .percentage-info-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .container-4 {
  margin: 0 54.5px 26px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 674.5px;
  box-sizing: border-box;
}
.page-1 .sales-info {
  opacity: 0.5;
  margin: 0 3px 39px 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.05;
  color: #000000;
}
.page-1 .line-7 {
  background: #E2E7E7;
  margin-bottom: 50.1px;
  width: 731px;
  height: 1px;
}
.page-1 .container-10 {
  margin-bottom: 50.1px;
  width: 731px;
  height: 1px;
}
.page-1 .container {
  margin-bottom: 50.1px;
  width: 731px;
  height: 1px;
}
.page-1 .line-6 {
  background: #E2E7E7;
  margin-bottom: 11.8px;
  width: 731px;
  height: 1px;
}
.page-1 .container-1 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-20 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-3 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-21 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-5 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-22 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-7 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-23 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-9 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-24 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-11 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-26 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-2 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-27 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-4 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-28 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-6 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-29 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-8 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-30 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-10 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-31 {
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-12 {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #737B8B;
}
.page-1 .group-32 {
  margin-right: 0px;
  display: flex;
  box-sizing: border-box;
}
.page-1 .container-8 {
  margin: 0 16.9px 0 15.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 698.5px;
  box-sizing: border-box;
}
.page-1 .chart-1 {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 731px;
  box-sizing: border-box;
}
.page-1 .ellipse-7 {
  border-radius: 4.5px;
  background: #FFA726;
  margin: 2px 8px 1px 0;
  width: 9px;
  height: 9px;
}
.page-1 .total-openings {
  opacity: 0.7;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #121212;
}
.page-1 .last-6-days {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .ellipse-71 {
  border-radius: 4.5px;
  background: #565778;
  margin: 2px 8px 1px 0;
  width: 9px;
  height: 9px;
}
.page-1 .new-openings {
  opacity: 0.7;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #121212;
}
.page-1 .last-6-days-1 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .ellipse-72 {
  border-radius: 4.5px;
  background: #C7CEFF;
  margin: 2px 8px 1px 0;
  width: 9px;
  height: 9px;
}
.page-1 .closed-openings {
  opacity: 0.7;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #121212;
}
.page-1 .last-6-days-2 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .component-4 {
  margin: 0 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 482.8px;
  box-sizing: border-box;
}
.page-1 .revenue {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .title-data-2 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .desc-1 {
  opacity: 0.5;
  margin-bottom: 34px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.833;
  color: #000000;
}
.page-1 .ellipse-162 {
  opacity: 0.9;
  border-radius: 61.2px;
  background: #81D4FA;
  position: absolute;
  left: 0px;
  right: 3.8px;
  bottom: 3.6px;
  height: 122.4px;
}
.page-1 .text-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.4px;
  line-height: 1;
  color: #FFFFFF;
}
.page-1 .text-5 {
  position: absolute;
  left: 50%;
  bottom: 43px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 0.6;
  color: #FFFFFF;
}
.page-1 .ellipse-172 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 122px;
  height: 130px;
}
.page-1 .chart-3 {
  position: relative;
  margin: 91px 3.8px 0 0;
  display: flex;
  padding: 43px 3px 63px 0;
  width: 126.2px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .ellipse-16 {
  opacity: 0.9;
  border-radius: 84.4px;
  background: #FFA726;
  position: absolute;
  left: 0px;
  top: 5.3px;
  right: 5.3px;
  height: 168.7px;
}
.page-1 .text {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 33.7px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #FFFFFF;
}
.page-1 .text-1 {
  position: absolute;
  left: 48px;
  bottom: 57.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 0.633;
  color: #FFFFFF;
}
.page-1 .ellipse-17 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 168.2px;
  height: 179.3px;
}
.page-1 .chart-2 {
  position: relative;
  margin-bottom: 41.7px;
  display: flex;
  padding: 62.2px 8px 83.1px 0;
  width: 174px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 304px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .text-2 {
  position: absolute;
  left: 82px;
  top: 17px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20.8px;
  letter-spacing: 0.3px;
  line-height: 1;
  color: #FFFFFF;
}
.page-1 .text-3 {
  position: absolute;
  left: 94px;
  top: 48px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 0.389;
  color: #FFFFFF;
}
.page-1 .container-3 {
  position: relative;
  margin-left: 9px;
  display: flex;
  width: 304px;
  box-sizing: border-box;
}
.page-1 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .ellipse-161 {
  opacity: 0.8;
  border-radius: 51.9px;
  background: #CE93D8;
  position: absolute;
  left: 58px;
  top: 90px;
  width: 103.8px;
  height: 103.8px;
}
.page-1 .ellipse-171 {
  position: absolute;
  left: 61.6px;
  top: 87px;
  width: 103.4px;
  height: 110.2px;
}
.page-1 .rating {
  position: absolute;
  left: 18px;
  bottom: 8px;
  display: flex;
  box-sizing: border-box;
}
.page-1 .separator-2 {
  background: #C8CBD9;
  position: absolute;
  right: 16px;
  bottom: 381.5px;
  width: 1120px;
  height: 0.5px;
}
.page-1 .separator-1 {
  background: #C8CBD9;
  position: absolute;
  left: 377px;
  bottom: 7px;
  width: 0.5px;
  height: 362px;
}
.page-1 .line-19 {
  position: absolute;
  left: 386px;
  bottom: 164px;
  width: 334.5px;
  height: 2px;
}
.page-1 .line-20 {
  position: absolute;
  left: 387px;
  bottom: 123px;
  width: 334.5px;
  height: 2px;
}
.page-1 .line-18 {
  position: absolute;
  left: 387.5px;
  bottom: 205px;
  width: 334.5px;
  height: 2px;
}
.page-1 .line-21 {
  position: absolute;
  left: 388px;
  bottom: 82px;
  width: 334.5px;
  height: 2px;
}
.page-1 .line-22 {
  position: absolute;
  left: 389px;
  bottom: 41px;
  width: 334.5px;
  height: 2px;
}
.page-1 .container-20 {
  position: absolute;
  left: 401px;
  bottom: 136px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-23 {
  position: absolute;
  left: 401px;
  bottom: 15px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-22 {
  position: absolute;
  left: 401px;
  bottom: 56px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-21 {
  position: absolute;
  left: 401px;
  bottom: 95px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-14 {
  position: absolute;
  left: 401px;
  bottom: 177px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-13 {
  position: absolute;
  left: 405px;
  bottom: 220px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .title-data-1 {
  margin: 0 27.8px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .desc {
  opacity: 0.5;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.833;
  color: #000000;
}
.page-1 .most-ordered {
  position: absolute;
  left: 415px;
  bottom: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .container-15 {
  position: absolute;
  left: 458px;
  bottom: 178px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-17 {
  position: absolute;
  left: 458px;
  bottom: 95px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-16 {
  position: absolute;
  left: 458px;
  bottom: 136px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-19 {
  position: absolute;
  left: 458px;
  bottom: 15px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .company {
  position: absolute;
  left: 458px;
  bottom: 220px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-18 {
  position: absolute;
  left: 458px;
  bottom: 56px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .openings {
  position: absolute;
  right: 443.6px;
  bottom: 220px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  color: #87888C;
}
.page-1 .container-24 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  color: #FFA726;
}
.page-1 .group-153 {
  border-radius: 4px;
  border: 0.5px solid #FFA726;
  background: rgba(255, 167, 38, 0.12);
  position: absolute;
  right: 447px;
  bottom: 173px;
  display: flex;
  padding: 5px 13.5px 5px 12px;
  box-sizing: border-box;
}
.page-1 .container-27 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  color: #78909C;
}
.page-1 .group-156 {
  border-radius: 4px;
  border: 0.5px solid #78909C;
  background: rgba(120, 144, 156, 0.12);
  position: absolute;
  right: 447px;
  bottom: 52px;
  display: flex;
  padding: 5px 15.1px 5px 12px;
  box-sizing: border-box;
}
.page-1 .container-25 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  color: #81D4FA;
}
.page-1 .group-154 {
  border-radius: 4px;
  border: 0.5px solid #81D4FA;
  background: rgba(129, 212, 250, 0.12);
  position: absolute;
  right: 447px;
  bottom: 133px;
  display: flex;
  padding: 5px 14.1px 5px 12px;
  box-sizing: border-box;
}
.page-1 .container-26 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  color: #CE93D8;
}
.page-1 .group-155 {
  border-radius: 4px;
  border: 0.5px solid #CE93D8;
  background: rgba(206, 147, 216, 0.12);
  position: absolute;
  right: 447px;
  bottom: 92px;
  display: flex;
  padding: 5px 13.4px 5px 12px;
  box-sizing: border-box;
}
.page-1 .container-28 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10px;
  color: #78909C;
}
.page-1 .group-157 {
  border-radius: 4px;
  border: 0.5px solid #78909C;
  background: rgba(120, 144, 156, 0.12);
  position: absolute;
  right: 447px;
  bottom: 12px;
  display: flex;
  padding: 5px 14.8px 5px 12px;
  box-sizing: border-box;
}
.page-1 .separator {
  position: absolute;
  top: 0px;
  right: 416px;
  width: 2px;
  height: 836px;
}
.page-1 .chart {
  position: absolute;
  left: 20px;
  top: 114px;
  width: 270px;
  height: 244.9px;
}
.page-1 .title-data-3 {
  position: relative;
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .order-info {
  opacity: 0.5;
  position: relative;
  margin-bottom: 51px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 1.615;
  color: #000000;
}
.page-1 .rectangle-23 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 140px;
  height: 109px;
}
.page-1 .text-7 {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.083;
  color: #FFFFFF;
}
.page-1 .text-6 {
  opacity: 0.5;
  position: relative;
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1;
  color: #FFFFFF;
}
.page-1 .profile-2 {
  width: 12px;
  height: 15px;
}
.page-1 .iconly-bold-profile-2 {
  margin-top: 1.5px;
  display: flex;
  width: 12px;
  height: 15px;
  box-sizing: border-box;
}
.page-1 .text-8 {
  margin-bottom: 0.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1;
  color: #FFFFFF;
}
.page-1 .container-6 {
  position: relative;
  margin: 0 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 66.2px;
  box-sizing: border-box;
}
.page-1 .info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 16px 0 25.5px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .order-time {
  position: absolute;
  top: 41px;
  right: 0px;
  display: flex;
  flex-direction: column;
  height: 358.9px;
  box-sizing: border-box;
}
.page-1 .title-data {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.571;
  color: #000000;
}
.page-1 .order-stats {
  position: absolute;
  right: 240.3px;
  bottom: 323px;
  display: flex;
  box-sizing: border-box;
}
.page-1 .screenshot-20240527-at-3231 {
  background: url('../assets/images/screenshot_20240527_at_3231.png') 50% / cover no-repeat;
  position: absolute;
  right: 19px;
  bottom: 0px;
  width: 343px;
  height: 302px;
}
.page-1 .container-7 {
  position: relative;
  padding-top: 41px;
  width: fit-content;
  height: 843px;
  box-sizing: border-box;
}
.container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 24px 62px 0;
  width: 1440px;
  box-sizing: border-box;
}
