.project-source {
  position: relative;
  width: 146px;
  height: 21px;
}

.project-source .group {
  position: absolute;
  width: 112px;
  height: 21px;
  top: 0;
  left: 36px;
}

.project-source .text-wrapper {
  position: absolute;
  width: 110px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.project-source .link-angled {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
